MONDAY_BOARD_ID=
MONDAY_API_TOKEN=
# MONDAY_MCP_AUTH can be used instead of MONDAY_API_TOKEN if it contains
# the monday API token or JSON with a "token" value.
MONDAY_MCP_AUTH=
OPENAI_API_KEY=
OPENAI_MODEL=
REPORT_TIMEZONE=America/Indiana/Indianapolis
MONDAY_API_VERSION=
